<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Subreddit Summarizer</title>

    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <form method=POST action="{{ url_for('reddit.get_reddit') }}">
                <button type="submit" class="btn btn-link btn-nav">Subreddit
                  Summarizer</button>
              </form>
            </div>
            <ul class="nav navbar-nav">
              <li>
                <form method=POST action="{{
                  url_for('reddit.list_my_subreddits') }}">
                  <button type="submit" class="btn btn-link btn-nav">My
                    subreddits</button>
                </form>
              </li>
              <li>
                <form action="{{ url_for('reddit.add_subreddit') }}"
                  method="GET">
                  <div class="form-group">
                    <input type="text" class="input-subred"
                      placeholder="Add new subreddit"
                      autofocus size="50"
                      name="subreddit">
                    <input type="submit" class="btn btn-primary btn-add" value="Add">
                  </div>
                </form>
              </li>
              <li>
                <p class="nav navbar-nav nav-user">Logged in as</p>
                <p class="nav navbar-nav nav-user"
                  style="color:cornflowerblue;">
                  {{session['username'] }}</p>
              </li>
              <li class="nav-logout">
                <form method=POST action="{{ url_for('auth.logout') }}">
                  <button type="submit" class="btn btn-link pull-right btn-nav">Logout</button>
                </form>
              </li>
              <li class="nav-logout">
                <form method=POST onsubmit="return confirm('Delete your account?')" action="{{ url_for('auth.delete_user') }}">
                  <button type="submit" class="btn btn-link pull-right btn-nav
                    btn-delete">Delete account</button>
                </form>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <!--If there are no subreddits yet-->
      {% if warning %}
      <div class="containter-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-warning" role="alert">
              {{warning}}
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <!--Subreddit download errors-->
      {% if message %}
      <div class="containter-fluid">
        <div class="row">
          <div class="col-md-12">
            {% if mode == 'success' %}
            <div class="alert alert-info" role="alert">
              {{message}}
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
              {{message}}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

      <!--List posts-->
      {% if posts %}
      <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item">
          <div class="col-md-12">
            <p>
              <span>
                <strong>{{loop.index}})</strong>
              </span>
              <span class="score">
                {{post['data']['score']}}
              </span>
              <span class="title">
                <a href="https://reddit.com{{post['data']['permalink']}}">
                  {{post['data']['title']}}</a>
              </span>
              <span class="span-subred">{{post['data']['subreddit']}}</span>
            </p>
          </div>

          <div>
            <span class="posted">
              Posted by <a
                href="https://www.reddit.com/u/{{post['data']['author']}}">
                {{post['data']['author']}}</a> at {{post['data']['created']}}
            </span>
            <span class="metadata">ups: {{post['data']['ups']}}</span>
            <span class="metadata">downs: {{post['data']['downs']}}</span>
            <span class="metadata">
              comments:
              <a href="https://reddit.com{{post['data']['permalink']}}">
                {{post['data']['num_comments']}}</a>
            </span>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}


      <!-- List subreddits -->
      {% if subreddits is defined %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <ul class="list-group">
              {% for item in subreddits %}
              {% for i in range(subreddits[item]|length) %}

              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{i+1}})</span>
                <span id="{{i+1}}"> {{subreddits[item][i]}}</span>
                <span class="delsubred">
                  <a class="close" href="{{ url_for('reddit.delete_subreddit', subred_name=subreddits[item][i])}}">
                    &times;
                  </a>
                </span>
              </li>
              {% endfor %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endif %}

    </body>

  </html>