.container{
    width: auto;
}
.welcome-name{
    font-family: monospace;
}
div > h3{
    text-align: center;
}
div > h4{
    text-align: center;
}
div.error{
    text-align: center;
}
.btn-nav{
    height: 50px;
    padding-top:  15px;
    padding-bottom: 15px;
}
.nav-logout{
    height: 50px;
    text-align: center;
}
.nav-user{
    vertical-align: center;
    color: white;
    padding: 15px;    
}
.input-subred{
    margin-top: 10px;
}
