body{
    background-color: #dddddd;
}
.container{
    width: auto;
}
.welcome-name{
    font-family: monospace;
}
div > h3{
    text-align: center;
}
div > h4{
    text-align: center;
}
div.error{
    text-align: center;
}
.btn-nav{
    height: 50px;
    padding-top:  15px;
    padding-bottom: 15px;
}
.nav-logout{
    height: 50px;
    text-align: center;
}
.nav-user{
    vertical-align: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;     
}
.input-subred{
    margin-top: 10px;
}
button.btn.btn-link.pull-right.btn-nav.btn-delete{
    color:red;
}
.list-group-item{
    font-size: medium;
}

span > strong{
   margin-right: 1em;
}
span.score{
    color: rgb(173, 64, 64);
    font-weight: bold;
    margin-right: 1em;
}
span.posted{
    font-size: 12px;
    color: darkslategray;
}
span.metadata{
    margin-left: 1em;
    font-size: 12px;
    color: darkslategray;
}
span.posted > a{
    text-decoration: underline;
    color: darkblue;
}
span.span-subred{
    font-style: italic;
    color: rgba(209, 94, 0, 0.74);
    margin-left: 5px;
}
span.title > a{
    color:black;
}
li.list-group-item{
    margin: 0.5em;
    border-radius: 4px;
    border-color: darkslategray;
}
.btn.btn-primary.btn-add{
    margin-left: 1em;
    margin-right: 1em;
    height: 2em;
}
.btn.btn-primary.pull-right{
    align-self: auto;
    height: 2em;
}
.list-group-item.d-flex.justify-content-between.align-items-center{
    height: 3em;
}
span.delsubred > button{
    width: 5em;
}
